{% extends 'baseAdmin.html.twig' %}

{% block title %}TutubeV2 Admin{% endblock %}
{% block style %}
    <style>
        .fullTable {
            width: 100%;
        }
        .name {
            width: 600px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="fullTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">date</th>
                <th scope="col">modifier</th>   
              </tr>
            </thead>
            <tbody>
            {% for video in videos %}
              <tr>
                <th class="name">{{ video.name }}</th>
                <td>{{ video.date|date('d-m-Y')}}</td>
                <td><a href="{{ path('admin_moderate_video', {tutuber : video.tutuber, idVideo : video.id }) }}">modifier</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
