{% extends 'baseLocal.html.twig' %} {% block title %}Hello VideoController!{%
  endblock %} {% block body %}
    <style>
      .comment {
        padding: 20px;
        width: 35%;
        border: 2px solid black;
      }
      .videoFull {
        display: flex;
        justify-content: center;
        background-color: black;
      }
      .videoFull > iframe{
        width: 80%;
        height: 900px;
      }
      .dataVideo {
        /* margin-left: %;
        margin-right: 7%; */
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .dataVideo > div {
        width: 80%;
      }
      .name {
        font-size: 30px;
        font-weight: 600;
      }
      .vue {
        font-size: 25px;
      }
    </style>
    
    <div class="">
      <div class="videoFull">
        <iframe
          width="1669"
          height="700"
          src="https://www.youtube.com/embed/{{ randomVideo.url_id }}?autoplay=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="dataVideo">
        <div>
          <p class="name">{{ randomVideo.name }}</p>
          <p class="vue">{{ views }}
            {% if views > 1 %} vues 
            {% else %} vue
            {% endif %}
          </p>
          <div class="descBar"></div>
          <div class="descBarFinnish"></div>
        </div>
    
    
      </div>
    
    </div>
    {% endblock %}
    