{% extends 'baseLocal.html.twig' %} {% block title %}Hello VideoController!{%
    endblock %} 
    {% block body %}
    <style>
        .error {
            margin-top: 300px;
            display: flex;
            flex-direction: column;
            font-size: 150px;
            align-items: center;
            justify-content: center;
        }
    </style>
    
    <div class="error">
        <p>-\(-_o)/-</p>
        <p>Sorry Nothing Found</p>
    </div>
    {% endblock %}
    